[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "stowed_files/local/share/tmux/plugins/vim-tmux-navigator"]
	path = stowed_files/local/share/tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "stowed_files/local/share/tmux/plugins/tmuxifier"]
	path = stowed_files/local/share/tmux/plugins/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
