# Directories added, because these plugins get installed from github repo's and are not modified
stowed_files/.tmux/plugins/catppuccin_tmux
stowed_files/.tmux/plugins/tmux-sensible/
stowed_files/.tmux/plugins/tmux-yank/
stowed_files/.tmux/plugins/vim-tmux-navigator/