# yaml-language-server: $schema=https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json

palette:
    error-foreground: '#E84D44'
    git-clean: '#49be25'
    git-changed: '#c4a000'
    git-ahead-behind: '#F26d50'
    git-ahead: '#89d1dc'
    git-behind: '#4e9ae6'
    go-background: '#00acd7'
    host-background: '#F4B186'
    path-background: '#7299E5'
    path-foreground: '#D1D4D4'
    python-background: '#ffd343'
    root-foreground: '#E84D44'
    status-background: '#31344A'
    success-foreground: '#98C86B'
    terminal-background: '#1A1B26'
    terminal-foreground: '#707691'
    text-foreground: '#1A1B26'
    vpn-background: '#F1C0E4'
    transient-foreground: '#ffffaa'
    keyring-background: '#68B8BE'
# transient_prompt:
#     template: '  ❯ '
#     foreground: 'p:transient-foreground'
#     background: transparent
upgrade:
    source: cdn
    interval: 168h
    auto: false
    notice: false
console_title_template: '{{ .Shell }} in {{ .Folder }}'
blocks:
    - type: prompt
      alignment: left
      segments:
        - leading_diamond: ╭─
          foreground: p:terminal-background
          background: p:terminal-foreground
          type: os
          style: diamond
        - template: '  '
          foreground: p:root-foreground
          powerline_symbol: 
          background: p:status-background
          type: root
          style: powerline
        - properties:
            home_icon: "~"
            style: full
          template: '  {{ .Path }} '
          foreground: p:path-foreground
          powerline_symbol: 
          background: p:path-background
          type: path
          style: powerline
        - properties:
            command: ssh-add -l | grep -v identities | wc -l
            shell: zsh
            interpret: false
          powerline_symbol: 
          template: '{{ if ne .Output "0" }} 󱕴{{ .Output }}{{ end }}'
          type: command
          style: powerline
          foreground: p:terminal-background
          background: p:keyring-background
        - properties:
            branch_icon: '  '
            fetch_status: true
            fetch_upstream_icon: true
          template: ' {{ .UpstreamIcon }}{{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }} |{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }} '
          foreground: p:terminal-background
          powerline_symbol: 
          background: p:git-clean
          type: git
          style: powerline
          background_templates:
            - '{{ if or (.Working.Changed) (.Staging.Changed) }}p:git-changed{{ end }}'
            - '{{ if and (gt .Ahead 0) (gt .Behind 0) }}p:git-ahead-behind{{ end }}'
            - '{{ if gt .Ahead 0 }}p:git-ahead{{ end }}'
            - '{{ if gt .Behind 0 }}p:git-behind{{ end }}'
        - properties:
            display_mode: files
            fetch_version: true
          template: ' {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}  '
          foreground: p:terminal-background
          powerline_symbol: 
          background: p:go-background
          type: go
          style: powerline
        - properties:
            display_mode: environment
            fetch_virtual_env: true
          template: ' {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }}  '
          foreground: p:terminal-background
          powerline_symbol: 
          background: p:python-background
          type: python
          style: powerline
    - type: prompt
      alignment: right
      filler: <p:terminal-foreground,transparent>─</>
      segments:
        - properties:
            command: "ip route | grep -E 'dev (tun|tap).*proto kernel scope' | awk '{print $9 \" \U000F183E \" $3}' "
            shell: bash
          foreground: p:text-foreground
          powerline_symbol: 
          background: p:vpn-background
          type: command
          style: powerline
          invert_powerline: true
        - properties:
            command: "ip route | grep -m1 default | awk '{print $9 \" \U000F0A60 \" $5}' || echo ' \U000F0A60 '"
            shell: bash
          foreground: p:text-foreground
          powerline_symbol: 
          background: p:path-background
          type: command
          style: powerline
          invert_powerline: true
        - trailing_diamond: 
          template: ' {{ if .SSHSession }} {{ end }}{{ .UserName }}@{{ .HostName }} '
          foreground: p:text-foreground
          background: p:host-background
          type: session
          style: diamond
          invert_powerline: true
        - properties:
            always_enabled: true
          template: ─╮
          type: text
          style: plain
    - type: prompt
      alignment: left
      segments:
        - template: ╰─
          foreground: p:terminal-foreground
          type: text
          style: plain
        - template: '{{ if .Root }}{{ else }}{{ if gt .Code 0}}✗{{ else }}❯{{ end }}{{ end }}'
          foreground: p:success-foreground
          type: text
          style: plain
          foreground_templates:
            - '{{ if gt .Code 0 }}p:error-foreground{{ end }}'
      newline: true
    - type: rprompt
      segments:
        - properties:
            always_enabled: true
          template: ' {{ if eq .Code 127 }}{{ .Code }} {{ else }}{{ if gt .Code 0 }}{{ .Code }} ✘ {{ else }}✔ {{ end }}{{ end }} '
          foreground: p:success-foreground
          powerline_symbol: 
          background: p:status-background
          type: status
          style: powerline
          leading_powerline_symbol: 
          foreground_templates:
            - '{{ if gt .Code 0 }}p:error-foreground{{ end }}'
          invert_powerline: true
        - template: ' {{ .FormattedMs }}  '
          foreground: '#000000'
          powerline_symbol: 
          background: '#c4a000'
          type: executiontime
          style: powerline
          leading_powerline_symbol: 
        - properties:
            always_enabled: true
          trailing_diamond: 
          template: ' {{ .CurrentDate | date .Format }}  '
          foreground: p:terminal-background
          background: p:terminal-foreground
          type: time
          style: diamond
          invert_powerline: true
        - properties:
            always_enabled: true
          template: ─╯
          type: text
          style: plain
version: 3
final_space: true
